

#container{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
    text-align: center;
}
.child{
    text-align: center;
}

.imgdiv{
    width: 95%;
}

.imgposter{
    width: 100%;
}